.w-custom {

    background-color: black;
}

body {
    background-color: rgb(1, 14, 1)!important;
    font-family: 'Playfair Display'!important;
}

p, h3 {
    text-shadow: 1px 1px 3px black;
}

.custom-bg {
    background-color: rgba(36, 35, 35, 0.4)!important;
}